pkgbase = synctroller-bin
	pkgdesc = Standalone desktop controller for the Philips Hue Play HDMI Sync Box
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/seanpmackay/SyncTroller
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = alsa-lib
	depends = nspr
	depends = libnotify
	provides = synctroller
	conflicts = synctroller
	options = !strip
	options = !emptydirs
	source = SyncTroller-1.2.0.tar.gz::https://github.com/seanpmackay/SyncTroller/releases/download/v1.2.0/SyncTroller-1.2.0.tar.gz
	source = LICENSE-1.2.0::https://raw.githubusercontent.com/seanpmackay/SyncTroller/v1.2.0/LICENSE
	source = icon-1.2.0.png::https://raw.githubusercontent.com/seanpmackay/SyncTroller/v1.2.0/assets/icon.png
	source = synctroller.desktop
	sha256sums = 9392e8b111b8410cafbc7ec969025a481f335a5c503aebcfb2f13b53e305b925
	sha256sums = 69436c11442a6839ff4cc54e2d1378f25f1569cc40ac8b857ef80c9cdee6c0dc
	sha256sums = b7d38790f495dbf562cbe36d5e7d0f05865b76c5b146a99110dec67714369cf8
	sha256sums = 6d0c021871e8d212ce215ac43e9f78fccaa6165710341efe6c82527a79a891c1

pkgname = synctroller-bin
